<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Instruktion</h2>
                    <h3 class="section-subheading text-muted">Fotografering i projektet Stanna tiden följer proceduren nedan.</h3>
                </div>
            </div>
            <div class="row topmargin">
                <div class="col-md-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Steg 1</h4>
                                    <h4 class="subheading">Kontakt</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kunden skickar ett mail till mig med dels önskemål om tid och plats, dels information om intressen och passioner.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Steg 2</h4>
                                    <h4 class="subheading">Återkoppling</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Idéspåning över telefon.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Steg 3</h4>
                                    <h4 class="subheading">Hembesök</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Fotografering i hemmiljö.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Steg 4</h4>
                                    <h4 class="subheading">Urval</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kunden väljer sin favoritbild utifrån ett antal förslag skickade per mail.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Steg 5</h4>
                                    <h4 class="subheading">Bearbetning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bearbetning av den valda bilden (vitbalans, kontrast, svart- och vitpunkt).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Steg 6</h4>
                                    <h4 class="subheading">Leverans</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Länk till en nerladdningsbar digital fil skickas per mail.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Steg 7</h4>
                                    <h4 class="subheading">Fakturering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Faktura skickas per mail.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>