<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-heading">Om tjänsten</h2>
                    <blockquote>Pappa bodde mer eller mindre i garaget under min barndom. Det var där &mdash; bland maskiner, rostfritt stål och brädor &mdash; som han exempelvis svetsade stommen till mitt kära innebandymål. När någon sökte pappa per telefon fick jag i uppdrag av mamma att springa genom källargången och hämta honom. Med garagedörren på glänt fylldes näsan av en stickande doft från svetsen och öronen av ljudet från Radiosporten. Bilden på pappa i garaget visar honom i sin rätta miljö, påminner mig om vilken skicklig hantverkare han är och triggar mina minnen från en tid då det enda bekymret i livet var om jag skulle ha äppelmos eller jordgubbssylt på pannkakorna.</blockquote>
                    <p class="large text-muted extrapadding"><b>Syftet</b> med projektet <i>Stanna tiden</i> är att ta vardagliga men fina porträtt som påminner bildernas huvudpersoner, eller deras nära och kära, om en tid eller en aktivitet som gjorde dem lyckliga.</p>
                    <p class="large text-muted extrapadding">Platsen för porträttet är betydelsefull. Älskar du att spela XBOX i soffan, laga mat i köket, orientera i skogen, spela gitarr i replokalen eller läsa sagor för dina barn i sovrummet? Ambitionen är att fånga det ögonblick och det sammanhang där du mår som bäst.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Målgrupp</h4>
                    <p class="text-muted">Målgruppen är personer som kan sitta still och bli <b>regisserade</b> (&sim; 5 år). Jag fotar <b>individuella porträtt</b>. Andra personer kan synas i bild men de är då att betrakta som rekvisita.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plats</h4>
                    <p class="text-muted">Jag fotar personer i <b>Stockholm</b>, gärna inom cykelavstånd från Sundbyberg eller åtkomligt med ett SL-kort. Vi fotar hemma hos dig eller en annan miljö som är betydelsefull för dig.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pris</h4>
                    <p class="text-muted">Priset varierar med tiden det tar att förbereda och fotografera, inklusive restid. Maila intresse så skickar jag ett prisförslag. Ambitionen är att lämna ett bra pris som motsvarar en timmes foto i studio.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Användning</h4>
                    <p class="text-muted">Kunden får <b>fritt använda</b> bilden för privat bruk. Jag får använda bilden på min hemsida och i marknadsföringen av mig själv som fotograf.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tid</h4>
                    <p class="text-muted">Tidsåtgången för ett porträtt är ungefär <b>en timme</b> men avsätt gärna två. Jag kan fota på vardagskvällar och helger.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-image-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leverans</h4>
                    <p class="text-muted">Jag levererar en <b>digital fil</b> som duger för tryck upp till 50x70 cm. Kunden beställer själv framkallning (även om jag kan hjälpa till med rekommendationer).</p>
                </div>
            </div>
        </div>
    </section>