<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-heading">Om projektet</h2>
                    <p class="large text-muted extrapadding"><b>Syftet</b> med fotoprojektet <i>Stanna tiden</i> är att ta vardagliga men fina porträtt som påminner bildernas huvudpersoner, eller deras nära och kära, om en tid eller en aktivitet som fick dem att må bra. Det handlar om vardagsporträtt för framtiden.</p>
                    <p class="large text-muted extrapadding">Platsen för porträttet är betydelsefull. Älskar du att spela XBOX i soffan, laga mat i köket, orientera i skogen, spela gitarr i replokalen eller läsa sagor för dina barn i sovrummet? Ambitionen är att fånga det ögonblick och det sammanhang där du mår som bäst.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Målgrupp</h4>
                    <p class="text-muted">Målgruppen är personer som kan sitta still och bli <b>regisserade</b> (&sim; 5 år). Jag tar porträtt där en individ är i fokus.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plats</h4>
                    <p class="text-muted">Jag fotograferar personer i <b>Stockholm</b> med omnejd. Vi fotar hemma hos er eller i en annan miljö som betyder något extra.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tid</h4>
                    <p class="text-muted">Tidsåtgången för att fota ett porträtt är ungefär <b>30 min</b> men avsätt gärna en timme. Jag kan fota på vardagskvällar och helger.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Användning</h4>
                    <p class="text-muted">Ni får <b>fritt använda</b> bilden för privat bruk. Jag får använda bilden på min hemsida och i marknadsföringen av mig själv som fotograf.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pris</h4>
                    <p class="text-muted"><b>Gratis</b> om ni gillar Stanna tidens <a href="http://www.facebook.com/stannatiden" target="_blank">Facebooksida</a> och på så vis sprider ordet om projektet. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-image-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leverans</h4>
                    <p class="text-muted">Jag levererar en <b>digital fil</b> som duger för tryck upp till 50x70 cm.</p>
                </div>
            </div>
        </div>
    </section>